
[submodule "deps/pcre2"]
	path = deps/pcre2
	url = https://github.com/aFun-org/pcre2.git
[submodule "deps/fflags"]
	path = deps/fflags
	url = https://github.com/aFun-org/fflags.git
[submodule "deps/dlfcn"]
	path = deps/dlfcn
	url = https://github.com/aFun-org/dlfcn-win32.git
[submodule "deps/pthread-win32"]
	path = deps/pthread-win32
	url = https://github.com/aFun-org/pthread-win32.git
